

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

GROQ_API_KEY=


DATABASE_URL=
# --- Qdrant Settings ---
QDRANT_HOST=
QDRANT_PORT=
# Leave these empty for local Docker usage
# When you move to Qdrant Cloud, paste the URL and Key here
QDRANT_URL=
QDRANT_API_KEY=

ALLOWED_ORIGINS=http://localhost:3000


