--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
python-multipart
langgraph
langchain
langchain-core
langchain-community
langchain-openai
langchain-text-splitters
sentence-transformers
langchain-huggingface
qdrant-client
pydantic
python-dotenv
pypdf
psycopg2-binary
torch
python-jose[cryptography]==3.3.0
google-auth==2.29.0
python-multipart==0.0.9
email-validator>=2.0.0
bcrypt==3.2.0
passlib[bcrypt]